<%= simple_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, as: :string, maxlength: 255 %>
  </div>

    <p><b>Saldo tickets: <%= @customer.tickets_balance %></b></p>
    <div class="row row-header">
      <div class="col-xs-7">Descrizione</div>
      <div class="col-xs-2">Data</div>
      <div class="col-xs-1">Quantità</div>
      <div class="col-xs-1">Operazione</div>
      <div class="col-xs-1">&nbsp;</div>
    </div>
      <%= f.inline_fields_for :tickets %>

    <div class="actions">
    <%= f.link_to_add_inline_fields 'Add ticket', :tickets %>
  </div>

    <%= f.submit %>
<% end %>
