<%= simple_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, as: :string, maxlength: 255 %>
  </div>

    <p><b>Saldo tickets: <%= @customer.tickets_balance %></b></p>

          <%= f.inline_fields_for(:tickets, headers: {description: 'col-xs-7', ticket_date: 'col-xs-2', quantity: 'col-xs-1', operation: 'col-xs-1', _actions: 'col-xs-1'}, add_link_name:'+ Ticket') %>

      <p></p>
    <%= f.submit %>
<% end %>
