<h1><%= t('.header', {customer:@customer.name}) %></h1>

<table class="grid">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.ticket.description') %></th>
      <th><%= t('activerecord.attributes.ticket.ticket_date') %></th>
      <th><%= t('activerecord.attributes.ticket.balance') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.description %></td>
        <td><%= l ticket.ticket_date %></td>
        <td class="number"><%= ticket.balance %></td>
        <td class="links"><%= link_to t('edit').titleize, edit_ticket_path(ticket) %>&nbsp;<%= link_to t('destroy').titleize, ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<b><%= t('activerecord.attributes.customer.tickets_balance') %>: <%= @customer.tickets_balance %></b>
<br>
<br>
<%= link_to t('.new').titleize, new_customer_ticket_path(@customer) %>
<br>
<br>
<%= link_to t('back').titleize, customers_path %>
