<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Ticket date:</strong>
  <%= @ticket.ticket_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ticket.quantity %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @ticket.customer_id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', customer_tickets_path(@ticket.customer) %>
