<!DOCTYPE html>
<html>
<head>
  <title>Techticket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_path} #{action_name}" %>">

<%= yield %>

<%= render 'inline_fields/inline_fields_modal' %>

</body>
</html>
